
/*
 Custom CSS
 @author - Angus
 */

:root {
  --btn-text-case: normal; /* default text case for buttons */
  --select-text-weight: normal;
}

/*
 * Make the collapse stay the same colour
 */
.collapse-open .collapse-title,
.collapse:focus:not(.collapse-close) .collapse-title,
.collapse:not(.collapse-close) input[type=checkbox]:focus ~ .collapse-title,
.collapse:not(.collapse-close) input[type=checkbox]:checked ~ .collapse-title,
.collapse-open .collapse-content,
.collapse:focus:not(.collapse-close) .collapse-content,
.collapse:not(.collapse-close) input[type=checkbox]:checked ~ .collapse-content{
 background-color: inherit !important;
}

.square {
  width: 100%;
  height: 0;
  padding-top: 100%;
}
